.custom-header {
  background-color: #fff;
  box-shadow: 0px 0px 30px 5px rgb(0 0 0 / 20%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;

  &__top {
    display: flex;
    justify-content: space-between;

    ion-icon {
      color: #000;
      font-size: 30px;
    }
  }

  .progress {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    &__title {
      display: flex;
      justify-content: flex-end;
      font-size: 14px;
      color: #808080;
    }

    &__info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5px;

      > ion-text {
        font-size: 24px;
        font-weight: bold;
      }
    }

    &__bar {
      height: 5px;
      border-radius: 10px;
      margin-top: 10px;
    }
  }
}
